.about {
    margin-bottom: 168px;
}

.container {}

.about_container {
    background-image: url(./../images/about.png);
    height: 450px;
    background-repeat: no-repeat;
   

}

.about_top {
    padding: 137px 85px;
}

.about_header {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;

}

.about_text {
    width: 445px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}